body {
    height: 100%;
    background-color: #f1f0ee;
}

a {
    text-decoration: none;
    color: #3a4660;
}

a:hover {
    color: #3a4660;
    text-decoration: none;
}

.navbar {
    background-color: transparent !important;
    float: right !important;
}

.scrolled {
    background-color: #3a4660 !important;
    transition: background-color 200ms linear;
    opacity: .75;
}

.scrolled .nav-item a {
    color: #f1f0ee !important;
}

.nav-container {
    width: 100%;
    position: fixed;
    z-index: 1;
}

.nav-item a {
    color: #3a4660 !important;
}

.navbar-brand {
    padding-right: .5rem;
    padding-left: .5rem;
    padding: .5rem 1rem;
}

.nav-img {
    width: 50px;
    border-radius: 50%;
}

.nav-link {
    font-size: 26px;
}

.darken {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.jumbotron {
    background: transparent;
    color: #3a4660;
    text-align: center;
    padding-bottom: 0;
}

.display-2 {
    font-size: 110px;
}

.lead {
    font-size: 30px;
    margin-bottom: 0;
}

.motto {
    margin-bottom: 5%;
}

.no-padding-top {
    padding-top: 5px;
}

.card {
    margin: 0;
    border: none;
    background: transparent;
    position: static;
}

.card-deck {
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0;
}

.card-body-img {
    padding: 0;
}

.card-body-text {
    color: #3a4660;
    line-height: 50px;
}

.card-title {
    font-size: 60px;
    color: #3a4660;
}

.card-img {
    border-radius: 1%;
    box-shadow: 5px 5px 20px black;
}

.card-text {
    font-size: 25px;
}

.font-bold {
    font-weight: bold;
}

.dark-text {
    color: black;
}

.dark-text:hover {
    color: black;
}

.underline {
    text-decoration: underline;
}

.text-outline {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.page-break {
    background-image: url(images/kat-yukawa-K0E6E0a0R3A-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
    height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    position: static;
}

.text-white {
    color: white;
}

.page-break-text {
    padding-bottom: 100px;
    padding-top: 50px;
    color: white;
}

.page-break-header {
    padding-top: 75px;
    color: white;
}

footer {
    background-color: #2a363b;
    color: white;
    margin-bottom: 0;
    margin-top: 100px;
}

footer a {
    color: white;
    margin-bottom: 16px;
}

footer a:hover {
    color: white;
}

footer h3 {
    padding-bottom: 15px;
}

.btn-footer {
    width: 106.72px;
}

.footer-container {
    display: flex;
    margin: 15px;
    margin-bottom: 0;
    padding-top: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    text-align: center;
}

.column-2 {
    display: inline-block;
}

.copyright {
    padding-top: 25px;
}

.copyright-2 {
    opacity: 0;
}

/*  Calendar CSS  */

.calendar-position{
 position: absolute;
 left: 500px;
 top: 120px;
}

/* Calender CSS end */

/*media object css*/

.headshot {
    width: 200px;
}

.media {
    max-width: 50%;
    padding-top: 50px;
    text-align: left;
    margin: auto;
}

.staff-container {
    color: #3a4660 !important;
    padding-top: 50px;
    text-align: center;
}

.staff-about {
    font-size: 22px;
}

.media-body {
    margin-left: 50px;
    padding-top: 30px;
}

.staff-body-container {
    margin-top: 50px;
}

/*media object css end*/

/* media queries */

@media only screen and (max-width: 1455px) {
    .card-deck {
        display: block !important;
        text-align: center;
    }

    .info {
        padding-bottom: 100px;
    }
}

@media only screen and (max-width: 550px) {
    .row {
       flex-direction: column;
    }

    .copyright-2 {
        opacity: 1;
    }

    .copyright-1 {
        opacity: 0;
    }

    .column-1 {
        padding-bottom: 50px;
    }

    .page-break {
        background-image: none;
        filter: brightness(100%);
    }

    .page-break-header {
        color: #3a4660 !important;
        font-size: 70px;
    }

    .page-break-text {
        color: #3a4660 !important;
    }

    .display-2 {
        font-size: 80px;
    }

    .card-title {
        font-size: 50px;
    }

    .card-text {
        font-size: 25px;
    }
}
@media only screen and (max-width: 480px) {
  .calendar-position{
    position: absolute;
    left: 20px;
    top: 20px;

  }

}
