body {
    height: 100%;
    background: rgb(48,58,144);
    background: linear-gradient(90deg, rgba(48,58,144,1) 17%, rgba(40,171,66,1) 83%);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

.navbar {
    background-color: transparent !important;
    float: right !important;
}

.scrolled {
    background-color: rgba(48,58,144,1) !important;
    transition: background-color 200ms linear;
    opacity: .75;
}

.scrolled .nav-item a {
    color: #f1f0ee !important;
}

.nav-container {
    width: 100%;
    position: fixed;
    z-index: 1;
}

.nav-item a {
    color: white !important;
}

.navbar-brand {
    padding-right: .5rem;
    padding-left: .5rem;
    padding: .5rem 1rem;
}

.nav-img {
    width: 50px;
    border-radius: 50%;
}

.nav-link {
    font-size: 26px;
}

.darken {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.jumbotron {
    background: transparent;
    color: white;
    text-align: center;
    padding-bottom: 0;
}

.display-2 {
    font-size: 110px;
}

.lead {
    font-size: 30px;
    margin-bottom: 0;
}

.motto {
    margin-bottom: 5%;
}

.no-padding-top {
    padding-top: 5px;
}

.card {
    margin: 0;
    border: none;
    background: transparent;
    position: static;
}

.card-deck {
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0;
}

.card-body-img {
    padding: 0;
}

.card-body-text {
    color: white;
    line-height: 50px;
}

.card-title {
    font-size: 60px;
    color: white;
}

.card-img {
    border-radius: 1%;
    box-shadow: 5px 5px 20px rgb(65, 99, 72);
}

.card-text {
    font-size: 25px;
}

.font-bold {
    font-weight: bold;
}

.dark-text {
    color: black;
}

.dark-text:hover {
    color: black;
}

.underline {
    text-decoration: underline;
    
}

.text-outline {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.page-break {
    background-image: url(images/kat-yukawa-K0E6E0a0R3A-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(80%);
    height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    position: static;
}

.text-white {
    color: white;
}

.page-break-text {
    padding-bottom: 100px;
    padding-top: 50px;
    color: white;
}

.page-break-header {
    padding-top: 75px;
    color: white;
}

.hr-top {
    margin-top: 100px;
    margin-bottom: 50px;
    width: 80%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.hr-bottom {
    width: 80%;
    border: 0;
    height: 1px;
    margin-top: 50px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.partner-title {
    padding-bottom: 50px;
    font-weight: normal;
}

.partner-text-container {
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 60px;
}

.partner-text {
    line-height: 50px;
}

.btn {
    border: none;
}

footer {
    background-color: #2a363b;
    color: white;
    margin-bottom: 0;
    margin-top: 100px;
}

footer a {
    color: white;
    margin-bottom: 16px;
}

footer a:hover {
    color: white;
}

footer h3 {
    padding-bottom: 15px;
}

.btn-footer {
    width: 106.72px;
}

.footer-container {
    display: flex;
    margin: 15px;
    margin-bottom: 0;
    padding-top: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 0;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    text-align: center;
}

.column-2 {
    display: inline-block;
}

.copyright {
    padding-top: 25px;
}

.copyright-2 {
    opacity: 0;
}

/*  Calendar CSS  */

.calendar-position{
 position: absolute;
 left: 355px;
 top: 120px;
}

/* Calender CSS end */

/* Gallery CSS */
.hovereffect {
  width: 80%;
  height: 80%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Gallery CSS end */

/*media object css*/

.headshot {
    max-width: 200px;
}

.media {
    max-width: 50%;
    padding-top: 50px;
    text-align: left;
    margin: auto;
}

.staff-container {
    color: white !important;
    padding-top: 50px;
    text-align: center;
}

.staff-about {
    font-size: 22px;
}

.media-body {
    margin-left: 50px;
    padding-top: 30px;
}

.staff-body-container {
    margin-top: 50px;
}

/*media object css end*/

/* media queries */

@media only screen and (max-width: 1455px) {
    .card-deck {
        display: block !important;
        text-align: center;
    }

    .info {
        padding-bottom: 100px;
    }
}

@media only screen and (max-width: 991px) {            
    .nav-container {
        background-color: rgba(48,58,144,1);
    }

    .nav-item a {
        color: white !important;
    }
}

@media only screen and (max-width: 550px) {
    .row {
       flex-direction: column;
    }

    .copyright-2 {
        opacity: 1;
    }

    .copyright-1 {
        opacity: 0;
    }

    .column-1 {
        padding-bottom: 50px;
    }

    .page-break {
        background-image: none;
        filter: brightness(100%);
    }

    .page-break-header {
        color: white !important;
        font-size: 70px;
    }

    .page-break-text {
        color: white !important;
    }

    .display-2 {
        font-size: 80px;
    }

    .card-title {
        font-size: 50px;
    }

    .card-text {
        font-size: 25px;
        color: white !important;
    }

    .about-header {
        padding-top: 80px;
    }

    

    .quote {
        font-weight: normal;
        font-size: 25px;
    }

    .nav-item {
        float: left !important;
    }

    .media {
        max-width: 100%;
        margin: 0px;
    }

    .headshot {
        max-width: 150px;
        padding-left: 5px;
    }

    .staff-header {
        font-size: 60px;
    }

    .staff-body-container {
        margin-top: 0;
    }

    .staff-about {
        font-size: 20px;
        line-height: 25px;
    }

    .staff-name {
        font-size: 25px;
    }

    .partner-title {
        font-size: 60px;
    }

    .partner-header {
        font-size: 60px;
    }

    .partner-text {
        line-height: 35px;
        font-size: 20px;        
    }

    .partner-text-container {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}
@media only screen and (max-width: 480px) {
  .calendar-position{
    position: absolute;
    left: 20px;
    top: 20px;
  }
}