body {
    background: rgb(42 ,255,242);
    background: linear-gradient(90deg, rgba(42,255,242,1) 33%, rgba(208,21,174,1) 71%);
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

.navbar {
    background-color: transparent !important;
    float: right !important;
}

.nav-item a {
    color: white !important;
}

.navbar-brand {
    padding-right: .5rem;
    padding-left: .5rem;
    padding: .5rem 1rem;
}

.nav-img {
    width: 50px;
    border-radius: 50%;
}

.nav-link {
    font-size: 26px;
}

.darken {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.jumbotron {
    background: transparent;
    color: white;
    text-align: center;
    padding-bottom: 0;
}

.lead {
    font-size: 30px;
    margin-bottom: 0;
}

.motto {
    margin-bottom: 10%;
}

.no-padding-top {
    padding-top: 5px;
}

.card {
    margin: 0;
    border: none;
    background: transparent;
    color: white;
}

.card-deck {
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0;
}

.card-body-img {
    padding: 0;
    padding-left: 180px;
}

.card-body-text {
    color: black;
    line-height: 50px;
}

.card-title {
    font-size: 60px;
}

.font-bold {
    font-weight: bold;
}

.dark-text {
    color: black;
}

.dark-text:hover {
    color: black;
}